</div>
</main>
<footer class="footer">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="/images/favicon.png" alt="Blogger">
        </div>
    </div>
    <div class="footer-right">
        <span class="footer-top">&copy; Copyright 2021 Akshat Mittal</span>
        <span class="footer-mid">
            <a href="https://github.com/akshatmittal61/blog" target="_blank" class="footer-mid-link">
                View Code on github
            </a>
        </span>
        <span class="footer-mid">
            <a href="https://github.com/akshatmittal61" target="_blank" class="footer-mid-link">
                View Other Projects
            </a>
        </span>
    </div>
</footer>
<%- include("fab") -%>
    </body>
    <script src="/theme.js"></script>

    </html>