<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Blogger</title>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <div class="header-logo">
                <img src="./images/favicon.svg" alt="Blogger">
            </div>
        </div>
        <div class="header-right">
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <span class="material-icons nav-icon">home</span>
                            <span class="nav-link-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">
                            <span class="material-icons nav-icon">info</span>
                            <span class="nav-link-text">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">
                            <span class="material-icons nav-icon">contact_support</span>
                            <span class="nav-link-text">Contact Us</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">