<%- include("partials/header") -%>

    <h1>Add New Post</h1>
    <form action="/add" method="post">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Your Thoughts Here" required></textarea>
        <button type="submit">Publish</button>
    </form>
    <%- include("partials/footer") -%>