@media (max-width: 672px) {
	.nav-link .nav-link-text {
		display: none;
	}
	.posts-container {
		width: 95%;
	}
	.post {
		width: 90%;
	}
	.header-left {
		width: 30%;
	}
	.header-right {
		width: 50%;
	}
	.footer-left {
		display: none;
	}
	.footer-right {
		width: 100%;
	}
	form {
		padding: 1rem;
		width: 90%;
		margin: 1rem auto;
	}
}
